[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pisi Linux Welcome
GenericName=Pisi Linux Welcome
GenericName[tr]=Pisi Linux'a Hoşgeldiniz
Exec=pisilinux-welcome
Icon=pisilinux-welcome
Terminal=false
Categories=Application;Utility;
StartupNotify=true