[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pisi GNU/Linux Welcome
Name[tr]=Pisi GNU/Linux Hoş Geldiniz
GenericName=Welcome application
GenericName[tr]=Hoş geldiniz uygulaması
Comment=The application meets you in startup
Comment[tr]=Başlangıçta sizi karşılayan uygulama
Exec=pisilinux-welcome
Icon=pisilinux-welcome
Terminal=false
Categories=Qt;Utility;
StartupNotify=true
